* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    font-size: 26px;
}

/* mobile first */

header {
    width: 100%;
    background-color: #0084fd;
    padding: 10px 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    align-items: center;
}

.nav_bar {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.logo img {
    width: 100%;
}

li {
    margin-right: 15px;
}

.nav_bar .bottone {
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 5px 10px;
}

.info_box {
    width: 100%;
}

.info_box_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.demo_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 0 auto;
}

.card_titolo {
    margin-bottom: 20px;
}

.card_titolo p {
    color: #0084fd; 
    font-weight: bold;
}

.card_paragrafo {
    font-size: 16px;
}

.card_bottone {
    margin: 0 auto;
}

.card_bottone a {
    font-size: 16px;
    background-color: #0084fd;
    border-radius: 20px;
    padding: 8px 50px;
}

.app_store {
    text-align: center;
}

.card_bottone .app_store span {
    margin-right: 7px;
}

.card_img {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.card_img img{
    width: 50%;
}

.icon_text_container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.icon {
    margin-bottom: 20px;
}

.planning {
    width: 100%;
    background-color: #9792e4;
    /* height: 800px; */
    padding: 60px;
}

.planning_container {
    margin: 0 auto;
    /* background-color: #0084fd; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 800px; */
}

.planning_img {
    /* background-color: #b5ddff; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 25px 0;
}

.planning_img img {
    width: 100%;
}

.planning_text {
    /* background-color: aquamarine; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.planning_title {
    /* background-color: brown; */
    /* height: 90px; */
    margin-bottom: 40px;
}

#planning2 {
    background-color: white; 
    border-radius: 60px;
}

.app_developement {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.developement_text {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.arrow i {
    background-color: #9792e4;
    padding: 30px 25px;
    border-radius: 100%;
}

.partners {
    /* height: 1000px; */
    /* background-color: #0084fd; */
    padding: 30px;
    
}

.partners_container {
    /* height: 300px; */
    /* background-color: burlywood; */
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.customer {
    height: 500px;
    background-color: #9792e4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.customer_img {
    height: 210px;
    /* background-color: aliceblue; */
    border-radius: 100%;  
    background-image: url("../img/testimonial1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:200px;
    margin: 0 auto;
}

#customer2 {
    background-image: url("../img/testimonial2.jpg");
}

#customer3 {
    background-image: url("../img/testimonial3.jpg");
}

.benefits {
    width: 100%;
    background-color: #9792e4;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 30px;
}

.benefits_title {
    /* background-color: aqua;
    height: 200px; */
    padding: 30px;
    margin-bottom: 15px;
}

.benefits_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 350px;
    border-radius: 30px;
    width: 300px;
    margin: 15px auto;
    padding: 30px;
}

.number {
    color: #9792e4;
    font-size: 25px;
    font-weight: bolder;
}

.benefits_button {
    background-color: #9792e4;
    border-radius: 20px;
    width: 100px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.about {
    /* background-color: cadetblue;
    height: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
}

.about_card {
    /* background-color: #bbb9df;
    height: 400px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_img {
    height: 120px;
    /* background-color: aliceblue; */
    border-radius: 100%;  
    background-image: url("../img/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:120px;
    position: relative;
    margin-bottom: 20px;
}

.about_img i {
    position: absolute;
    top:15px;
    right: 0;
}

.about_bottone {
    background-color: #9792e4;
    border-radius: 20px;
    width: 200px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.get_started {
    background-color: #9792e4;
    /* height: 800px; */
    padding: 40px;
}

.get_started_container {
    /* background-color: antiquewhite; */
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.get_started_button {
    background-color: white;
    border-radius: 40px;
    width: 300px;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}

footer {
    background-color: #333333;
    /* height: 800px; */
    padding: 70px;
}

.footer_container {
    /* background-color: #b5ddff;
    height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* versione tablet */

@media all and (min-width: 768px) {
    .card {
        width: calc(90% / 3);
    }

    #demo {
        width: calc((95% / 3) * 2);
    }

    .info_box_container {
        justify-content: space-around;
    }

    .planning {
        padding: 20px;
    }

    .planning_container{
        width: 70%;
    }

    .planning_img {
        width: 70%;
        margin: 20px auto;
    }

    .customer {
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
        height: 250px;
        align-items: center;
    }

    .customer_img {
        aspect-ratio: 1/1;
        width: 150px;
        height: 150px;
        margin-right: 15px;
    }

    .benefits {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .benefits_title {
        width: 100%;
    }

    .benefits_card {
        width: calc(90% / 2);
    }

    .about {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .about_img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    .get_started_container {
        max-width: 500px;
        margin: 0 auto;
    }

    .footer_container {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* versione desktop */

@media all and (min-width: 1200px) {
    .hamburger_menu {
        display: none;
    }

    .nav_bar {
        display: block;
    }

    .info_box_container {
        width: 70%;
    }

    .card {
        width: calc(90% / 3);
    }

    #demo {
        flex-direction: row;
    }
    
    .demo_container {
        width: 100%;
    }

    .card_img {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .card_img img{
        width: 100%;
        height: 80%;
    }

    .planning {
        max-width: 1920px;
        display: flex;
        justify-content: space-between;

    }

    .planning_container {
        flex-wrap: wrap;
        flex-direction: row;
        width: 40%;
    }

    #planning2 {
        width:30%;
    }

    .partners_container {
        width: 1080px;
    }

    .customer {
        width: 1080px;
    }

    .benefits {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 1920px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .benefits_title {
        width: 100%;
    }
    
    .benefits_card {
        width: calc(90% / 3);
    }

    .about {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1080px;
    }
}